
#body
{
	background-color:white;
	color: #00AEEF;

}

.navigation-container
{
	width:100%;
	clear:both;

}

.navigation-container ul li
{
	display:inline;

}
.navigation-container a:
{
	color: #00AEEF;

}
.navigation-container ul li a
{
	float:left;
	color:#00AEEF;
    width:19.35%;
    text-align: center;
    font-size: 50px;
    border: 2px solid #00AEEF;

}
.navigation-container a:hover
{
    color: white;
    background-color:  #00AEEF

}

.home-container
{
    text-align: center;
    float: left;
    text-align: center;
    width:100%;
    height: 250px;
    margin-top: 10px;

}

.home-container a{
    text-align: center;
    font-size: 40px;
    color:#00AEEF;
    padding-left: 40vh;
    padding-right: 40vh;
    padding-bottom: 20vh;
    border: 2px solid #00AEEF;
    margin:5px;

}
.home-container button{

    position: absolute;
    right: 139vh;
    bottom: 650;
    font-size:30px;
    color: #00AEEF;
    border-radius: 10px;
    border: 2px solid #00AEEF;
}
.home-container button:hover
{
    color: white;
    background-color:  #00AEEF

}

.team-container
{
    text-align: center;
    float:left;
    height: 400px;
    margin-left: 100px;
    width: 90%;
    border: 2px solid #00AEEF;
    text-align: center;
}

.team-container #circleLeft
{
    float:left;
      width: 30%;
      height: 80%;
      border-radius: 300px;
      border: 2px solid #00AEEF;
      margin: 20px;
}

.team-container #circleMiddle
{
    float:left;
      width: 30%;
      height: 80%;
      border-radius: 300px;
      border: 2px solid #00AEEF;
      margin: 20px;
}
.team-container #circleRight
{
    float: left;
      width: 30%;
      height: 80%;
      border-radius: 300px;
      border: 2px solid #00AEEF;
      margin: 20px;
}

.team-container #circleLeft:hover
{
    background:#00AEEF;
}
.team-container #circleMiddle:hover
{
    background:#0000FF;
}
.team-container #circleRight:hover
{
    background:#FF00FF;
}

.about-container
{
    text-align: center;
     float:left;
    height: 200px;
    margin-top: 10px;
    margin-left: 100px;
    width: 90%;
    border: 2px solid #00AEEF;
    text-align: center;
}

.about-container #card
{
    float: left;
      width: 22.9%;
      height: 80%;
      border: 2px solid #00AEEF;
      margin: 15px;
      border-radius: 10px;
}
.about-container #card:hover
{
    background-color: #00AEEF
}

.contact-container
{
    float:left;
    color: #00AEEF;
    text-align: center;
    vertical-align: middle;
    width:96.5%;
    height:30px;
    font-size:25px; 
    border: 2px solid #00AEEF;
    margin:10px;
    margin-left:30px;
   
}